<table class='table table-bordered table-condensed table-hover table-striped'>
    <tbody>
        <tr>
            <th>Name</th>
            <td>
                {{ document_set.name }}
            </td>
        </tr>
        <tr>
            <th>Label</th>
            <td>
                {{ document_set.label }}
            </td>
        </tr>
        <tr>
            <th>Description</th>
            <td>
                {{ document_set.description|raw }}
            </td>
        </tr>

        <tr>
            <th>Compilation</th>
            <td>
                {% if document_set.compilation %}
                    <a href='{{ path("compilation_show", {"id": document_set.compilation.id}) }}'>{{ document_set.compilation }}</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Document</th>
            <td>
                {% if document_set.documents|length > 0 %}
                    <ul>
                        {% for document in document_set.documents %}
                            <li>
                                <a href='{{ path("document_show", {"id":document.id }) }}'>
                                    {{ document }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Created</th>
            <td>{{ document_set.created|date }}</td>
        </tr>
        <tr>
            <th>Updated</th>
            <td>{{ document_set.updated|date }}</td>
        </tr>
    </tbody>
</table>


