<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Label</th>
            <th>Description</th>

        </tr>
    </thead>
    <tbody>
        {% for compilation in compilations %}
            <tr>
                <td>
                    <a href="{{ path('compilation_show', { 'id': compilation.id }) }}">
                        {{ compilation.id }}
                    </a>
                </td>
                <td>
                    {{ compilation.name }}
                </td>

                <td>
                    {{ compilation.label }}
                </td>

                <td>
                    {{ compilation.description|raw }}
                </td>

            </tr>
        {% endfor %}
    </tbody>
</table>
