<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>Original Name</th>
            <th>Title</th>
            <th>File Size</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
            <tr>
                <td>
                    <a href="{{ path('item_show', { 'id': item.id }) }}">
                        {{ item.originalName }}
                    </a>
                </td>
                <td>
                    <a href="{{ path('item_show', { 'id': item.id }) }}">
                        {{ item }}
                    </a>
                </td>
                <td>
                    {{ item.fileSize }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
